*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    display: flex;
    background-color: #67999A;
}
    #CabeceraImagenNombre{
        flex: 30%;

}
#CabeceraMenu{
    flex: 70%;
}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    position: relative;
    z-index: 1000;
    margin-bottom: 4px;
    left: 5%;
    background-image: url(../img/Recurso\ 8.png);
    background-size: contain;
}
#nombreRectangulo{
    background-color: #013334;
    width: 180px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight:bold;
    position: absolute;
    top: 14%;
}
#contenidoCuerpo{
    width: 100%;
    background-color: #d3ee9f;
    display: flex;
    padding-top: 50px;
}
footer{
width: 100%;
background-color: #7B9E35;
display: flex;
padding: 30px;

}
ul li{
    display: inline; 
    padding: 0 10px;
border-right: solid 2px black;
}
ul li{
    color:#550101 ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul li a:hover{
    color:black;
    font-size: 13px;
    text-decoration: underline dashed 2px purple;
    background-color: #d6f2a4;
}
#LogoInicio{
    background-image:url("/img/Recurso\ 7.png");
    padding: 2px 0 0 25px;
    background-size: 22px;
    background-repeat: no-repeat;
}
#CuerpoImagen{
    flex: 40%;
}
#CuerpoDatos{
    flex: 60%;
}
#bordeImagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    width: 70%;
    border-radius: 26px;
}
img{
    border-radius: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#DetalleDatos{
    width: 70%;
    padding: 20px;
    text-align: justify;
}
#Botones{
    display: flex;
    margin-top: 20px;
    padding: 30px;
}
#BotonFavorito{
    flex: 50%;
}
#BotonUbicacion{
    flex: 50%;
}
#marcoFavorito{
   background-image: url("/img/Recurso\ 13.png");
}
#marcoUbicacion{
    background-image: url("/img/Recurso\ 2.png");
}
.disenoboton{
background-color: #cccccc;
width: 250px;
background-image: url("/img/Recurso\ 2.png");
background-repeat: no-repeat;
background-size: 28px;
padding: 20px 0px 20px 60px;
background-position: left 20px center;
border-radius: 18px;
}
.disenoboton:hover{
    opacity: 60%;
    cursor: pointer;
}
#marcoMenuFooter{
    flex: 15%;
}
#marcoDetalleFooter{
    flex: 35%;
}
#marcoRedesFooter{
    flex: 45%;
}
.footerRedes{
    display: inline;
}
Li img {
    width: 28px;
}
.footerRedes li{
    border: none;
}





